OPEN_API_KEY_ENCODING=<인코딩된 개인 서비스 키>
OPEN_API_KEY_DECODING=<디코딩된 개인 서비스 키>
OPEN_API_SERVICE_URL=http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev