OPEN_API_KEY_ENCODING=<인코딩된 개인 서비스 키>
OPEN_API_KEY_DECODING=<디코딩된 개인 서비스 키>
OPEN_API_SERVICE_URL=http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev
KAKAO_TOKEN_URI=https://kauth.kakao.com/oauth/token
KAKAO_ACCESS_TOKEN_INFO=https://kapi.kakao.com/v1/user/access_token_info
KAKAO_USERINFO_URI=https://kapi.kakao.com/v2/user/me
KAKAO_REDIRECT_URI=<카카오 개인 앱의 인가 코드가 리다이렉트된 URL>
KAKAO_CLIENT_ID=<카카오 개인 앱 REST API>
KAKAO_SECRET_KEY=<카카오 제품 설정 보안에서 발급받은 코드>
KAKAO_JS_KEY=<카카오 개인 앱 JavaScript 키>
